@model AddEditFoodViewModel
@{
    ViewBag.MetaTitle = "Add Edit Food";
    Layout = "~/Areas/Restaurant/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/jcrop/css/jquery.jcrop.css" rel="stylesheet" />
<script src="~/lib/jcrop/js/jquery.jcrop.js"></script>
<style>
     .jcrop-tracker{
         width:33% !important;
        height:70% !important;
    }
    .jcrop-holder img{
        width:33% !important;
        height:70% !important;
    }
   
</style>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var validator = $("#foodForm").data("validator");
            validator.settings.ignore = "";
            $("#FoodImageName").rules("remove", "required");
            if ('@Model.FoodId' != "0" && $("#FoodImageName").val() != "") {
                $("#ImageName").rules("remove", "required");
            }
            var ImageRoot = '/Images/Food/' + $('#FoodImageName').val();
            if ('@Model.FoodId' != "0" && $("#FoodImageName").val() != "") {
                $("#Editimagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
                $(".AddImageList").hide();
                $('#foodForm #Image').show();
                $('#foodForm #Image').attr("src", ImageRoot);
                $('#foodForm #Image').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates,
                    boxWidth: 2000,
                    boxHeight: 300,
                    callId: 'Image'
                });
                $(".DeleteImageIcon").removeClass("hide");
                $("#dvImageName").hide();
                $("#delImage").attr("imageid", $("#FoodImageName").val());
            }

            if ($("#foodForm #FoodId").val() != "")//edit mode
            {
                $("#foodForm span.fileinput-new").addClass("filenew")
                if ($("#foodForm #FoodImageName").val() == "") {
                    $("#foodForm span.filenew").text("No File Choosen");
                }
                else {
                    $("#foodForm span.filenew").text($("#foodForm #ImageName").val())
                }
                FillImageName();
            }

            $("#delImage").click(function () {
                 $("#ImageName").rules("add", {
                    required: true
                });
                $.ajax({
                    url: '@Url.Action("DeleteFoodImage", "Food")',
                    type: 'POST',
                    data: { "ImageName": $(this).attr("imageid")},
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.Deleted == "1") {
                            $("#ImageName").val('');
                            $("#Editimagelist1").html("");
                            $("#Image").attr("src", "");
                            $("#delImage").addClass("hide");
                            $("#dvImageName").show();
                            $("#delImage").removeAttr("imageid");
                        }
                        else {
                            alert("Failed to delete the Image.");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
        $('#DiscountInPercentage').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
        $('#Price').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
        $('#DisplayOrder').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });

        function changeCatalogFile($this) {
            var fname = $($this).val();
            switch (fname.substring(fname.lastIndexOf('.') + 1).toLowerCase()) {
                case 'jpeg': case 'jpg': case 'png':
                    break;

                default:
                    $($this).val("");
                    $("span.fileinput-new").text('No File Chosen');
                    ShowResultMessageByKey('Only .Jpeg, .Jpg, .png file allow');
                    break;
            }
            if ('@Model.FoodId' != "0" && $("#FoodImageName").val() != "") {
                $("#Editimagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
            } else {
                $("#imagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
            }

            var reader = new FileReader()
            reader.onload = function (e) {
                $('#foodForm #Image').show();
                $('#foodForm #Image').attr("src", e.target.result);
                $('#foodForm #Image').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates,
                    boxWidth: 2000,
                    boxHeight: 300,
                    callId: 'Image'
                });
                $("#dvImageName").hide();
                $("#delImage").removeClass("hide");
                 $(".DeleteImageIcon").removeClass("hide");
            }
            reader.readAsDataURL($("#ImageName")[0].files[0]);
        }
        function FillImageName() {
            $('#ImageName').siblings("span.filenew").text($('#ImageName').val())
        }

        function SetCoordinates(c, callId) {
            $('#foodForm #imgX1').val(c.x);
            $('#foodForm #imgY1').val(c.y);
            $('#foodForm #imgWidth').val(c.w);
            $('#foodForm #imgHeight').val(c.h);
        };

    </script>
}

<div class="pcoded-main-container add-cms-page proj-bg-color">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ fixed-menu ] start -->
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">
                                        @if (Model.FoodId > 0)
                                        {
                                            <h5>Edit Food</h5>
                                        }
                                        else
                                        {
                                            <h5>Add Food</h5>
                                        }
                                        <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <a href="@Url.Action("FoodItemList","Food")" class="btn btn-primary">List</a>
                                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="javascript:"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item close-card"><a href="javascript:"><i class="fas fa-eye-slash"></i> hide</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <form asp-action="AddEditFood" asp-controller="Food" method="POST" id="foodForm" enctype="multipart/form-data" autocomplete="off">
                                            <input type="hidden" class="form-control" asp-for="FoodId">
                                            <div class="form-group row">
                                                <label class="col-sm-2">Name<span style="color: red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" asp-for="Name">
                                                    <div class="input-group error-font-size">
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2">Price<span style="color: red">*</span></label>
                                                <div class="col-sm-8">
                                                    @if (ViewBag.IsReadOnlyClass != "")
                                                    {
                                                        <input type="text" class="form-control" asp-for="Price" readonly="readonly">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" asp-for="Price" maxlength="8">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="Price" class="text-danger"></span>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2">Ingredient<span style="color: red">*</span></label>
                                                <div class="col-sm-8">
                                                    @if (ViewBag.IsReadOnlyClass != "")
                                                    {
                                                        <input type="text" class="form-control" asp-for="Ingredient" readonly="readonly">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" asp-for="Ingredient">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="Ingredient" class="text-danger"></span>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2">Discount In Percetage<span style="color: red">*</span></label>
                                                <div class="col-sm-8">
                                                    @if (ViewBag.IsReadOnlyClass != "")
                                                    {
                                                        <input type="text" class="form-control" asp-for="DiscountInPercentage" readonly="readonly">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" asp-for="DiscountInPercentage" maxlength="2">

                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="DiscountInPercentage" class="text-danger"></span>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2">Display Order<span style="color: red">*</span></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" asp-for="DisplayOrder">
                                                    <span style="color:#DC3545">Note*:Add number in which order you want to show this food in menu.</span>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>

                                            <div class="form-group row">
                                                <input type="hidden" asp-for="FoodImageName" />
                                                <label class="col-sm-2">Image<span style="color: red">*</span></label>
                                                <div class="col-sm-8" id="dvImageName">
                                                   
                                                    <input type="file" asp-for="ImageName" class="form-control field-input" multiple="multiple" onchange="changeCatalogFile(this);" accept="image/*">
                                                    <div class="input-group error-font-size">
                                                        <span asp-validation-for="ImageName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                
                                                <span class="AddImageList">
                                                <label class="col-sm-2"></label>
                                                <label class="col-sm-2"></label>
                                                <div class="col-sm-8 form-group" id="imagelist1" style="max-height:300px">
                                                </div>
                                                
                                                </span>
                                                <div class="col-md-3 hide DeleteImageIcon">
                                                    <div class="col-sm-8 form-group" id="Editimagelist1" style="max-height:300px">
                                                    </div>
                                                    <div id="delImage" class="delImage"><i class="fas fa-trash-alt"></i></div>
                                                </div>

                                                <input type="hidden" asp-for="imgX1" />
                                                <input type="hidden" asp-for="imgY1" />
                                                <input type="hidden" asp-for="imgWidth" />
                                                <input type="hidden" asp-for="imgHeight" />

                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2">Is Jain Avaulable</label>
                                                <div class="col-sm-4">
                                                    <div class="no-collapsable checked-fix checkbox checkbox-info checkbox-fill d-inline">
                                                        <input type="checkbox" asp-for="IsJainAvailable" />
                                                        <label for="IsJainAvailable" class="cr"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2">Is Vegetarian</label>
                                                <div class="col-sm-4">
                                                    <div class="no-collapsable checked-fix checkbox checkbox-info checkbox-fill d-inline">
                                                        <input type="checkbox" asp-for="IsVegetarian" />
                                                        <label for="IsVegetarian" class="cr"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2">Is Bestseller</label>
                                                <div class="col-sm-4">
                                                    <div class="no-collapsable checked-fix checkbox checkbox-info checkbox-fill d-inline">
                                                        <input type="checkbox" asp-for="IsBestSeller" />
                                                        <label for="IsBestSeller" class="cr"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2">Is Available</label>
                                                <div class="col-sm-4">
                                                    <div class="no-collapsable checked-fix checkbox checkbox-info checkbox-fill d-inline">
                                                        <input type="checkbox" asp-for="IsAvailable" />
                                                        <label for="IsAvailable" class="cr"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-4">
                                                    <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                                                    <a type="button" href="@Url.Action("FoodItemList","Food")" class="btn btn-primary">Cancel</a>
                                                </div>
                                                <div class="col-sm-6"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ fixed-menu ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
